:root {

}

* {
  box-sizing: border-box;
  padding: 3px;
  margin: 3px;
  border: none;
  color: rgb(179, 172, 172);
}

html {
  background-color: #020202;
}

.nav-flex {
  display: flex;
  justify-content: space-around;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}

.links {
  /* border: 1px solid #fff;  For debugging */
  display: flex;
  justify-content: flex-end;
}

.contact {
  margin-left: 10px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif; */
  font-size: 36px;
}

.main {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-image {
    height: 400px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0;
    background-image: url("../images/panorama-1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
  }

.hero-text {
    text-align: center;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(240, 234, 234);
    font-family: Arial, Helvetica, sans-serif;
  }

.main-container {
  margin: 10px 0;
  margin-left: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  border: none;
  font-family: Arial, Helvetica, sans-serif; 
}

.flex-item {
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(3, 3, 3), rgb(15, 15, 126));
  border:  rgb(129, 129, 252) solid;
  border-radius: 10%;
  max-width: 50%;
}

.flex-image {
  max-width: 400px;
}

.projects {
  margin: 10px 0;
  margin-left: 10px;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  border: none;
  font-family: Arial, Helvetica, sans-serif; 
}

.project-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(100, 139, 100);
  background-image: linear-gradient(rgb(3, 3, 3), rgb(15, 15, 126));
  border-radius: 10%;
  max-width: 25%;
}

.screenshot {
  max-width: 375px;
}

footer {
    font-family: monospace;
}

.logo-light {
  max-width: 50px;
  border: none;
  background-color: white;
  border-radius: unset;
}
.logo-dark {
  max-width: 50px;
  border: none;
  background-color: none;
  border-radius: unset;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  flex: none;
  width: 100%;
  display: block;
}

.footer h3 {
  font-size: 18px;
  font-weight: bold;
  color: grey;
}

.footer h4 {
  font-size: 14px;
  color: grey;
}